langchain
langchain-community
langchain-core
langchain-text-splitters
langchainhub
openai
pymupdf
langchain_openai
beautifulsoup4
rapidocr-onnxruntime
streamlit
faiss-gpu
openpyxl
sentence-transformers